// COLOR VARIABLES
$color-bg: rgb(28,122,194);
$color-gray: rgb(220,220,220);
$color-gray-dark: rgb(180,180,180);
$color-black: #000;
$color-white: #fff;

@mixin respond($breakpoint) {
   @media only screen and (max-width: $breakpoint/16 + em) { @content };
}

* {
   margin: 0;
   padding: 0;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Nunito', sans-serif !important;
   position: relative;
}

input {
   outline: none;
   border: none;

   &:focus, &:hover, &:active {
      border: none;
      border: none;
   }
}


.header__container {
   padding-top: 10px;
}

.mainBody__container {
   text-align: center;
   width: 80%;
   margin: auto;
   padding-bottom: 50px;
   padding-top: 150px;

   @include respond(800){
      width: 90%;
   }

   @include respond(500){
      padding-top: 180px;
   }
}